<div class="px-5 py-3">
    <h3>{{ formId === 0 ? "New " : "Edit " }} Account</h3>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group mb-2">
            <label>Account Number</label>
            <input type="text" class="form-control" [formControl]="accountNumber">
            <small class="text-danger" *ngIf="accountNumber.touched && accountNumber.hasError('required')">
                Required field
            </small>
        </div>
        <div class="form-group my-3">
            <label>Account Type</label>
            <select class="form-select" [formControl]="type">
                <option *ngFor="let i of typeList" value="{{i}}">{{ i }}</option>
            </select>
            <small class="text-danger" *ngIf="type.touched && type.hasError('required')">
                Required field
            </small>
        </div>
        <div class="form-group mb-2">
            <label>Rate of Interest</label>
            <input type="email" class="form-control" [formControl]="rateOfInterest">
            <small class="text-danger" *ngIf="rateOfInterest.touched && rateOfInterest.hasError('required')">
                Required field
            </small>
        </div>
        <div class="form-group mb-2">
            <label>Created on</label>
            <input type="date" class="form-control" [formControl]="createdOn">
            <small class="text-danger" *ngIf="createdOn.touched && createdOn.hasError('required')">
                Required field
            </small>
        </div>
        <div class="form-group my-3">
            <label>Account Status</label>
            <select class="form-select" [formControl]="status">
                <option *ngFor="let i of statusList" value="{{i}}">{{ i }}</option>
            </select>
            <small class="text-danger" *ngIf="status.touched && status.hasError('required')">
                Required field
            </small>
        </div>
        <div class="form-group mb-2">
            <label>Closed on</label>
            <input type="date" class="form-control" [formControl]="closedOn">
        </div>
        <div class="form-group mb-2">
            <label>IFSC</label>
            <input type="text" class="form-control" [formControl]="ifsc">
        </div>
        <div class="form-group mb-2">
            <label>Card Number</label>
            <input type="text" class="form-control" [formControl]="cardNumber">
        </div>
        <div class="form-group my-3">
            <label>Card Active?</label>
            <select class="form-select" [formControl]="cardActive">
                <option value="{{true}}">Yes</option>
                <option value="{{false}}">No</option>
            </select>
        </div>
        <div class="form-group mb-2">
            <label>Currency</label>
            <input type="text" class="form-control" [formControl]="currency">
            <small class="text-danger" *ngIf="currency.touched && currency.hasError('required')">
                Required field
            </small>
        </div>
        <div class="form-group my-3">
            <label>Customer ID</label>
            <select class="form-select" [formControl]="customerId">
                <option *ngFor="let i of customerIdList$ | async" value="{{i.id}}">{{ i.fullName }}</option>
            </select>
            <small class="text-danger" *ngIf="customerId.touched && customerId.hasError('required')">
                Required field
            </small>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>  